/* Titles */
$font-size-h1: 48px;
$font-size-h1-xs: 20px;
$font-size-h2: 2rem;
$font-size-h2-xs: 20px;
$font-size-h3: 25px;
$font-size-h3-xs: 18px;
$font-family-h: 'Koh Santepheap';
$font-color-h: #ffffff;
/* text */
$font-size-p: 16px;
$font-size-p-m: 14px;
$font-size-p-xs: 10px;
$font-family-p: 'Poppins';
$font-color-p: #ffffff;
/*buttons*/
$font-family-button: 'Poppins';
$button-hover: linear-gradient(225deg, #580606 0%, #290701 100%);
$font-size-button: 16px;
$font-size-button-xs: 12px

